@font-face {
    font-family: Akukamu;
    src: url("akukamu.otf") format("opentype");
}


.serotoPage {
    padding: 20px;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    text-shadow: 0px 0px 2px black;
}

.staffImage img {
    border-radius: 8px;
    box-shadow: -2px -2px 0px white, 0px 0px 5px black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Akukamu';
    font-weight: 1;
}

p, li, ul {
    font-family: 'Nanum Gothic';
    font-size: 18px;
}

body.home {
    /* ERROR404 PAGE */
    background: url("images/accueil.jpg") no-repeat fixed center top / cover;
}

body.page-id-9 {
    /* FITNESS PAGE */
    background: url("images/fitness.jpg") no-repeat fixed center top / cover;
}

body.page-id-11 {
    /* MACHINES PAGE */
    background: url("images/machines.jpg") no-repeat fixed center top / cover;
}

body.page-id-13 {
    /* PISCINES PAGE */
    background: url("images/piscine.jpg") no-repeat fixed center top / cover;
}

body.error404 {
    /* ERROR404 PAGE */
    background: url("images/error404.jpg") no-repeat fixed center top / cover;
}